@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @{
        bool user = User.Identity.IsAuthenticated;


        if (user)
        {
            <h1 class="display-4">Welcome @User.Identity.Name</h1>
        }else
        {
            <h1 class="display-4">Welcome</h1>
            <p>Please Login or create an account to view Auctions</p>
        }
    }

</div>
