@model DistLab2.ViewModels.CreateBidViewModel

@{
    ViewData["Title"] = "AddBid";
}

<h1>New bid</h1>

<h4>@Html.DisplayFor(name => Model.AuctionName)</h4>
<h3>Current price: @Html.DisplayFor(bid => Model.CurrentHighestBid)</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBid" asp-controller="Auction" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BidAmount" class="control-label"></label>
                <input asp-for="BidAmount" class="form-control" />
                <span asp-validation-for="BidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="hidden" asp-for="AuctionName" />
                <input type="hidden" asp-for="AuctionId"/>
                <input type="hidden" asp-for="CurrentHighestBid" />
                <input type="hidden" asp-for="EndDate" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
