@model DistLab2.ViewModels.BidDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Auction Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuctionName)
        </dd>
    </dl>
</div>

@{
    IEnumerable<BidViewModel> bidViews = Model.BidsVm;
}

<table class="table">
    <thead>
        <tr>
            <th>
                Bidder

            </th>
            <th>
                Date of bid
            </th>
            <th>
                Bids
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in bidViews)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BidAmount) kr
                </td>
            </tr>
        }
    </tbody>
</table>

